<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Challenge 21 - BREAD Express</title>
    <link defer rel="stylesheet" href="/views/styles.css"/>
    <script defer src="/script/search.js"></script>
  </head>
  <body>
    <header class="header-title">
      <h1 class="header-title">BREAD(Browse, Read, Edit, Add, Delete)</h1>
    </header>
    <main>
      <section id="index-form" class="main-section">
        <h2>Filters</h2>
        <form action="/c21/search" method="GET" class="user-form">
          <!-- <fieldset> -->
            <div class="user-input">
              <input
                type="checkbox"
                id="enable-id"
                checked
              />
              <label 
              for="enable-id" 
              enable-id=""
              class="main-section-label">
                ID</label
              >
              <input
                type="text"
                name="id"
                id="input-id"
                enable-id=""
                placeholder="ID"
                class="input"
                value="<%= filter.id ? filter.id: '' %>"
              />
            </div>
            <div class="user-input">
              <input
                type="checkbox"
                id="enable-string"
                checked
              />
              <label
                for="enable-string"
                enable-string=""
                class="main-section-label"
              >
                String</label
              >
              <input
                type="text"
                name="string"
                id="input-string"
                class="input"
                enable-string=""
                placeholder="String"
                value="<%= filter.string ? filter.string : '' %>"
              />
            </div>
            <div class="user-input">
              <input
                type="checkbox"
                id="enable-integer"
                checked
              />
              <label
                for="enable-integer"
                enable-integer=""
                class="main-section-label"
              >
                Integer</label
              >
              <input
                type="number"
                name="integer"
                id="input-integer"
                enable-integer=""
                class="input"
                placeholder="Integer"
                value="<%= filter.integer ? filter.integer : '' %>"
              />
            </div>
            <div class="user-input">
              <input
                type="checkbox"
                id="enable-float"
                checked
              />
              <label
                for="enable-float"
                enable-float=""
                class="main-section-label"
              >
                Float</label
              >
              <input
                type="number"
                name="float"
                id="input-float"
                enable-float=""
                class="input"
                placeholder="Float"
                step="any"
                value="<%= filter.float ? filter.float : '' %>"
              />
            </div>
            <div class="user-input">
              <input
                type="checkbox"
                id="enable-date"
                checked
              />
              <label
                for="enable-date"
                enable-date=""
                class="main-section-label"
              >
                Date</label
              >
              <input 
              type="date" 
              name="date" 
              id="input-date" 
              enable-date=""
              class="input"
              value="<%= filter.date ? filter.date : '' %>"
              />
            </div>
            <div class="user-input">
              <input
                type="checkbox"
                id="enable-boolean"
                checked
              />
              <label
                for="enable-boolean"
                enable-boolean=""
                class="main-section-label"
              >
                Boolean</label
              >
              <input
                type="number"
                name="boolean"
                id="input-boolean"
                enable-boolean=""
                class="input"
                min="0"
                max="1"
                placeholder="Choose the boolean ..."
                value="<%= filter.boolean ? filter.boolean : '' %>"
              />
            </div>
          <!-- </fieldset> -->
          <button
            type="submit"
            id="search-button"
            class="btn search-btn"
            disabled
          />Search</button>
        </form>
      </section>
      <section class="second-section">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">String</th>
              <th scope="col">Integer</th>
              <th scope="col">Float</th>
              <th scope="col">Date</th>
              <th scope="col">Boolean</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% data.forEach((item) => { %>
            <tr>
              <th scope="row"><%= item.ID %></th>
              <td><%= item.String %></td>
              <td><%= item.Integer %></td>
              <td><%= item.Float %></td>
              <td><%= item.Date %></td>
              <td><%= item.Boolean %></td>
              <td>
                <a href="/c21/edit/<%= item.ID %>" style="color: white">
                  <button type="button" class="btn edit-btn" />Edit </button>
                </a>
                <a href="/c21/delete/<%= item.ID %>" style="color: white">
                  <button type="button" class="btn delete-btn" onclick="return confirm('Delete ?')"/>Delete
                </button>
                </a>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
        <br />
        <input type="button" value="Pagination" id="pagination">
        <br />
      </section>
    </main>
    <section>
      <br />
      <a href="/c21/add/" class="btn btn-primary">Add</a>
    </section>
  </body>
</html>